.hide-pages {
  z-index: 101;
  position: fixed;

  .ajax-page {
    background: #A5ADB6;
    height: 100%;
    position: fixed;
    right: -600px;
    top: 0;
    z-index: 11;
    width: 600px;

    .page-content {
      padding: 10% 50px;
      height: 80%;
      overflow: auto;

      .close-ajax {
        position: absolute;
        top: 40px;
        right: 30px;
      }

      .title-box {
        h2 {
          text-align: center;
          font-size: 40px;
          font-weight: 500;
          @include color-white;
          margin-bottom: 25px;
        }
        p {
          display: block;
          text-align: center;
          @include color-white;
          line-height: 21px;
        }
      }
      form { margin-top: 50px; }
    }

    &.sign-up {
      background: #5E6F82;

      form {
        .row .input-text {
          background: #607286;
          border-color: #77899D;
        }
        .button {
          @include color-white;
          &:hover { color: #5e6f82; }
        }
      }
    }

    &.contact {
      form {
        .button {
          @include color-white;
          &:hover { color: #a5adb6; }
        }
      }
    }

  }
}