* {
  font: 300 17px 'roboto', Arial, Helvetica;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 0;
  -webkit-font-smoothing:antialiased;
  @include color-gray;
}

body {
  background: #FFF;
  overflow-x: hidden;
  position: relative;
}

.container {
  width: 1140px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  @include clearfix;
}

.error-page {
  background: #2e3e4e;
  padding: 80px 0;

  h2 { @include color-white; }
}

h1 { font-size: 30px; }
h2 { font-size: 25px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.social-bar {
  background: #2F3E4D;
  padding: 25px 0;
}

.pagination {
  @include clearfix;
  margin-top: 40px;

  ul {
    text-align: center;

    li {
      display: inline-block;
      margin: 0 3px;
    }
  }    
}

.subtitle {
  font-size: 96px;
  @include color-white;
  font-weight: 800;
  line-height: 73px;
  float: left;
}

hr {
  margin: 20px 0;
  border-top: 1px solid #FFF;
  height: 1px;
}

.grid {
  width: 100%;
  position: relative;
  text-align: left;
  clear: both;
  @include clearfix;

  .grid-cell {
    float: left;
    position: relative;

    &.t10 { width: 10%; }
    &.t15 { width: 15%; }
    &.t20 { width: 19%; }
    &.t23 { width: 23%; }
    &.t25 { width: 25%; }
    &.t30 { width: 30%; }
    &.t33 { width: 33%; }
    &.t35 { width: 35%; }
    &.t32 { width: 32%; }
    &.t40 { width: 40%; }
    &.t45 { width: 45%; }
    &.t50 { width: 50%; }
    &.t55 { width: 55%; }
    &.t60 { width: 60%; }
    &.t66 { width: 66%; }
    &.t65 { width: 65%; }
    &.t70 { width: 70%; }
    &.t75 { width: 75%; }
    &.t77 { width: 77%; }
    &.t80 { width: 80%; }
    &.t85 { width: 85%; }
    &.t90 { width: 90%; }
    &.t95 { width: 95%; }
    &.t100 { width: 100%; }

    .grid-content {
      margin: 0 15px;

      &.first { margin: 0 15px 0 0; }
      &.last { margin: 0 0 0 15px; }
    }
  }
}

.text-white { @include color-white; }
.text-gray { @include color-gray; }
.text-blue { @include color-blue; }

.col-top-small { margin-top: 20px; }
.col-top-medium { margin-top: 40px; }
.col-top-big { margin-top: 100px; }

.col-bottom-small { margin-bottom: 20px; }
.col-bottom-medium { margin-bottom: 40px; }
.col-bottom-big { margin-bottom: 100px; }