.blue-box {
  background: #2E3E4E;
  padding: 30px 0;

  .logo {
    float: left;
    margin-right: 37px;

    a { display: block; }
  }

  .menu {
    @include clearfix;
    float: left;
    padding: 19px 0 18px;

    li {
      float: left;
      margin-right: 20px;

      a {
        color: #A9ABAD;
        font-size: 16px;
        text-transform: uppercase;
      }
      &.login { display: none; }
    }
  }

  .list-social {
    float: right;
    @include clearfix;
    padding: 18px 0 17px;

    li {
      float: left;
      margin-left: 10px;
    }
  }

}