.button {
  height: 39px;
  line-height: 39px;
  color: #FFF;
  font-weight: 500;
  border: 2px solid #FFF;
  width: 180px;
  text-align: center;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  @include transiction;
  background: none;
  cursor: pointer;
  outline: none;

  &.button-gray {
    border-color: #999;
    color: #999;

    &:hover {
      color: #FFF;
      background: #999;
    }
  }

  &:focus,
  &:hover {
    color: #999 !important;
    background: #FFF;
  }

  &.large {
    width: 225px;
    height: 56px;
    line-height: 56px;
    font-size: 17px;
  }

  &.small {
    width: 99px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
  }

  &.center { margin: 0 auto; }

}