.check-button {
  margin-bottom: 15px;

  label {
    cursor: pointer;
    float: left;
    white-space: nowrap;
    @include clearfix;
    margin: 0 !important;

    i {
      float: left;
      margin-right: 12px;
      position: relative;
    }

    span {
      line-height: 20px;
      font-size: 15px;
      display: block;
      @include color-white;
      float: left;
    }

    input[type='checkbox'] {
      display: none;

      &:checked {
        &+i { background-position: -160px -10px; }
      }
    }
  }

}

.check-button-list {
  @include clearfix;

  .check-button {
    float: left;
    width: 120px;
    margin-right: 20px;
  } 

  &.large {
    .check-button { width: 245px; }
  }
}