.footer {
  background: #FFF;
  position: relative;
  padding: 8px 0;

  p,a {
    color: #2E3E4C !important;
    font-size: 13px;
  }

  a {
    float: right;
    &:hover { text-decoration: underline; }
  }
}