form {

  .row {
    @include clearfix;
    position: relative;

    label {
      display: block;
      margin-bottom: 11px;
      @include color-white;
      text-transform: uppercase;
    }

    .input-text {
      background: #283542;
      border: 1px solid #77899D;
      color: #DDDDDD;
      padding: 5px 20px;
      height: 23px;
      font-size: 15px;
      line-height: 18px;
      outline: none;

      &:disabled,
      &.disabed { background: #556577 !important; }
    }

    select.input-text {
      height: 35px !important;
      @include no-appearance;
      @include no-rounder;
      background: #283542 url(../../images/bg-select.png) no-repeat top right !important;
    }

    textarea.input-text { height: 170px !important; }

    .help-context {
      font-size: 13px;
      display: block;
      margin-top: 5px;
      @include color-white;
    }
  }

  .group-row {
    @include clearfix;
    margin-bottom: 30px;

    .row {
      float: left;
      margin: 0;

      .input-text { width: 85%; }

      &.r100 { width: 100%; }
      &.r50 { width: 50%; }
      &.r75 { width: 75%; }
      &.r25 {
        width: 25%;
        .input-text { width: 70%; }
        select { width: 90% !important; }
      }
      &.r16 { width: 16.5%; }
    }
  }

}