.header {
  background: #FFF;

  .logo {
    display: block;
    height: 55px;
    width: 165px;
    padding: 13px 0 12px;

    img { display: block; }

    &:hover {
      background: url(../../images/logo-gif-animated.gif) no-repeat center left;
      img { @include opacity; }
    }
  }

  .collapse-menu {
    float: right;
    margin-left: 55px;
    padding: 28px 0 27px;
    text-transform: uppercase;

    i {
      float: right;
      margin-left: 15px;
    }
  }

  .list-social {
    display: block;
    float: right;
    margin: 17px 0 16px;
    padding: 11px 0;

    li {
      float: left;
      margin-left: 10px;

      a {
        i {
          @include opacity-80;
          @include transiction;
        }
        &:hover i { @include no-opacity; }
      }
    }
  }

}