.icon {
  background: url(../../images/bg-images-namidia.png) no-repeat;
  display: block;
  position: relative;
  text-indent: -5000px;

  &.i10 {
    width: 10px;
    height: 10px;

    &.icon-1 { background-position: 0 0; }
    &.icon-2 { background-position: -10px 0; }
    &.icon-3 { background-position: -20px 0; }
    &.icon-4 { background-position: -30px 0; }
    &.icon-5 { background-position: -40px 0; }
  }

  &.i20 {
    width: 20px;
    height: 20px;

    &.icon-1 { background-position: 0 -10px; }
    &.icon-2 { background-position: -20px -10px; }
    &.icon-3 { background-position: -40px -10px; }
    &.icon-4 { background-position: -60px -10px; }
    &.icon-5 { background-position: -80px -10px; }
    &.icon-6 { background-position: -100px -10px; }
    &.icon-7 { background-position: -120px -10px; }
    &.icon-8 { background-position: -140px -10px; }
    &.icon-9 { background-position: -160px -10px; }
    &.icon-10 { background-position: -180px -10px; }
  }

  &.i25 {
    width: 25px;
    height: 25px;

    &.icon-1 { background-position: 0 -30px; }
    &.icon-2 { background-position: -25px -30px; }
    &.icon-3 { background-position: -50px -30px; }
    &.icon-4 { background-position: -75px -30px; }
    &.icon-5 { background-position: -100px -30px; }
    &.icon-6 { background-position: -125px -30px; }
    &.icon-7 { background-position: -150px -30px; }
    &.icon-8 { background-position: -175px -30px; }
    &.icon-9 { background-position: -200px -30px; }
    &.icon-10 { background-position: -225px -30px; }
    &.icon-11 { background-position: -250px -30px; }
    &.icon-12 { background-position: -275px -30px; }
    &.icon-13 { background-position: -300px -30px; }
    &.icon-14 { background-position: -325px -30px; }
    &.icon-15 { background-position: -350px -30px; }
    &.icon-16 { background-position: -375px -30px; }
    &.icon-17 { background-position: -400px -30px; }
  }

  &.i55 {
    width: 55px;
    height: 55px;

    &.icon-1 { background-position: 0 -55px; }
    &.icon-2 { background-position: -55px -55px; }
    &.icon-3 { background-position: -110px -55px; }
  }

  &.i80 {
    width: 80px;
    height: 80px;

    &.icon-1 { background-position: 0 -110px; }
  }

}