.fixed-navigation {
  width: 157px;
  background: #FFF;
  position: fixed;
  top: 130px;
  right: -157px;
  z-index: 100;
  @include box-shadow-small;

  .menu {
    li {
      &.login {
        a {
          color: #FFF;
          background: #BDD973;
          
          &:hover { background: #BAD671; }
        }
      }

      a {
        display: block;
        padding: 0 25px;
        height: 52px;
        line-height: 52px;
        text-transform: uppercase;
        font-size: 16px;
        @include transiction;

        &:hover { background: #FAFAFA; }

        i {
          float: left;
          margin: 16px 10px 0 0;
        }
      }
    }
  }
}