@media only screen and (min-width: 959px) and (max-width: 1140px) {
  body {
    background: purple;
    
    &.site {}

    &.admin {
      .container { width: 900px; }
    }

  }
}

@media only screen and (min-width: 200px) and (max-width: 959px) {
  body {
    background: blue;
    
    &.site {}

    &.admin {
      .container { width: 708px; }
    }

  }
}

@media only screen and (max-width: 767px) {
  //body { background: orange; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  //body { background: green; }
}

@media only screen and (max-width: 479px) {
  //body { background: pink; }
}