&.atores {

  .content {

    .box {
      padding: 60px 0;

      .title-box {
        h2 {
          text-align: center;
          font-size: 40px;
          font-weight: 300;

          span {
            font-size: 40px;
            font-weight: 500;
          }
        }
        p {
          display: block;
          text-align: center;
        }
      }

      &.box-1 {
        overflow: hidden;
        width: 1538px;
        position: relative;
        left: 50%;
        margin-left: -769px;

        .container { width: 1538px; }

        .internal-navigation {
          margin: 80px 0 30px;

          ul {
            text-align: center;
            font-size: 0;

            li {
              margin: 22px;
              display: inline-block;

              a {
                font-size: 16px;
                text-transform: uppercase;
                padding-bottom: 4px;

                &.active { border-bottom: 1px solid #DDD; }
              }
            }
          }
        }

        form.search-bar {
          width: 830px;
          margin: 0 auto;
          @include clearfix;

          .row {
            float: left;
            margin: 0 7px;

            input[type="text"],
            select.input-text {
              width: 106px;
              background: #FFF;
              height: 20px;
              margin-bottom: 0;
              border-color: #DDDDDD;
              color: #999999;
              text-transform: uppercase;
              line-height: 20px !important;
              font-size: 13px;
              @include placeholder-color(#999);
              padding: 5px 11px;
            }

            select.input-text {
              background: #FFF url(../../images/bg-select-white.jpg) no-repeat top right !important;
              height: 32px !important;
              width: 130px;
            }
          }

          .button-bar {
            margin-left: 7px;
            float: left;

            .button {
              height: 32px;
              line-height: 32px;
              font-size: 13px;
              width: 100px;
              background: #ddd;
              border: 1px solid #ddd;
              color: #FFF;
            }
          }

        }

        .pagination { margin-top: 60px; }
      }
    }

  }
}