&.home {

  .content {

    .box {
      padding: 60px 0;

      .title-box {
        h2 {
          text-align: center;
          font-size: 35px;
          font-weight: 300;

          span {
            font-size: 35px;
            font-weight: 500;
          }
        }
        p {
          display: block;
          text-align: center;
        }
      }

      &.box-1 {
        overflow: hidden;
        width: 1538px;
        position: relative;
        left: 50%;
        margin-left: -769px;

        .container { width: 1538px; }
      }

      &.box-2 {
        background: #96CA1B;
        padding: 37px 0;

        .title-box {
          h2 {
            @include color-white;
            margin-bottom: 10px;

            span { @include color-white; }
          }
          p { @include color-white; }
        }
      }

      &.box-3 {
        .container {
          width: 100%;
          
          .list-types {
            font-size: 0;
            text-align: center;
            margin-top: 60px;

            li {
              display: inline-block;
              height: 182px;
              width: 182px;
              border: 1px solid #DDD;
              @include rounder(182px);
              margin: 0 10px 20px;
              line-height: 182px;
              //text-transform: uppercase;
              text-align: center;
            }
          }
        }
      }

      &.box-4 {
        background: #ADB4BC;
        padding: 41px 0;

        p {
          display: block;
          text-align: center;
          @include color-white;
          width: 454px;
          height: 92px;
          margin: 0 auto 25px;
        }
        a {
          @include color-white;
          margin: 0 auto;
          width: 206px;
          height: 49px;
          line-height: 49px;

          &:hover { @include color-gray; }
        }
      }

      &.box-5 {
        padding: 61px 0;

        .title-box { margin-bottom: 36px; }

        ul {
          li {
            img {
              display: block;
              margin: 0 auto 25px;
            }
            p {
              width: 540px;
              margin: 0 auto;
              text-align: center;
              font-style: italic;
            }
            span {
              display: block;
              text-align: center;
              margin-top: 20px;
            }
          }
        }

        .bx-controls {
          a {
            background: url(../../images/bg-images-namidia.png) no-repeat;
            display: block;
            text-indent: -5000px;
            width: 55px;
            height: 55px;
            top: 125px;
            position: absolute;

            &.bx-prev {
              background-position: 0 -55px;
              left: 340px;
            }
            &.bx-next {
              background-position: -55px -55px;
              right: 340px;
            }
          }
        }

      }
    }

  }
}