* { @include color-gray; }

.content { background: #FFF; }

.banner {
  height: 398px;
  width: 1920px;
  overflow: hidden;
  position: relative;
  left: 50%;
  margin-left: -960px;

  .bx-wrapper {

    .bx-viewport {
      width: 1920px;
      margin: 0 auto;

      li {
        position: relative;
        height: 398px;

        img {
          top: 0;
          left: 0;
          position: absolute;
        }

        .container {
          span {
            font-weight: 500;
            font-size: 35px;
            text-align: left;
            display: block;
            text-transform: uppercase;
            @include color-white;
            margin: 118px 0 3px 45px;
          }
          a {
            color: #FFF !important;
            &:hover { color: #999 !important; }
          }
          hr {
            width: 118px;
            margin-left: 45px;
          }
          p {
            font-weight: 500;
            font-size: 15px;
            text-align: left;
            display: block;
            text-transform: uppercase;
            @include color-white;
            margin-left: 45px;
          }
          a {
            margin-left: 45px;
            width: 140px;
          }
        }
      }
    }
  }
}

.banner-controls {
  position: absolute;
  z-index: 100;
  right: 50%;
  bottom: 30px;
  margin-right: -464px;

  a {
    background: url(../../images/bg-images-namidia.png) no-repeat -20px -10px;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin-right: 5px;
    text-indent: -5000px;

    &.active { background-position: 0 -10px; }
  }
}

form .row {
  .input-text {
    width: 456px;
    background: #A0A9B1;
    height: 28px;
    margin-bottom: 13px;
    border-color: #B8BEC5;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;

    @include placeholder-color(#FFF);
  }
  textarea { line-height: 40px !important; }
}

.list-talent {
  @include clearfix;
  margin-top: 95px;

  li {
    float: left;
    margin: 0 1px 1px 0;

    a {
      display: block;
      position: relative;

      img {
        display: block;
        position: relative;
        z-index: 2;
        @include transiction;
        @include no-opacity;
        width: 191px;
        height: 184px;
      }

      .group-text {
        background: #B3C833;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        .name {
          @include color-white;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          display: block;
          text-align: center;
          margin: 36px 0 0;
        }

        .age {
          @include color-white;
          font-size: 15px;
          font-weight: 500;
          text-transform: uppercase;
          display: block;
          text-align: center;
          margin-top: 6px;
        }

        hr {
          height: 2px;
          width: 60px;
          margin: 15px auto;
          background: #FFF;
          border: none;
        }
        .skills {
          @include color-white;
          font-size: 15px;
          font-weight: 300;
          text-transform: uppercase;
          display: block;
          text-align: center;
          margin-top: 10px;
        }
      }

      &:hover img { @include opacity; }

    }
  }
}

.page-content {
  margin-top: 50px;

  .internal-navigation { float: left; }

  .top-bar .internal-navigation li a.active,
  .content-bar .info .list-infos { border-color: #DDDDDD; }

  .group-notice {
    @include clearfix;
    margin-bottom: 40px;

    img {
      float: left;
      margin-right: 57px;
    }
    .group-text {
      margin: 25px 0;
      height: 166px;
      overflow: auto;
      float: left;
      width: 65%;

      h4 {
        font-weight: 500;
        margin-bottom: 20px;
      }
      p {}
    }
  }
}

.page-content { padding-bottom: 80px; }

&.perfil-description {
  .button-bar {
    margin-top: 60px;
    @include clearfix;

    a {
      float: left;
      &:hover { color: #FFF !important; }
    }
  }
}