* { @include color-white; }

.admin-menu {
  float: right;
  margin: 29px 40px 28px 0;

  li {
    float: left;
    margin-right: 20px;

    a {
      @include color-gray;
      font-size: 16px;
      text-transform: uppercase;
      position: relative;
      @include transiction;

      &.active,
      &:hover { @include color-blue; }

      .tag {
        font-weight: 400;
        @include rounder(100px);
        text-align: center;
        line-height: 25px;
        position: absolute;
        top: -2px;
        right: -30px;
        background: #F9A374;
        height: 25px;
        width: 25px;
        display: block;
        font-size: 13px;
        @include color-white;
      }
    }
  }
}

.logout {
  float: right;
  background: #B5D562;
  width: 72px;
  height: 80px;

  i { margin: 30px auto; }
}

.content {
  background: #2E3E4E;
  padding: 80px 0;

  .title-bar {
    h2 {
      font-weight: 500;
      text-align: center;
      @include color-white;
      font-size: 40px;
      margin-bottom: 30px;
      line-height: 30px;
    }

    p {
      text-align: center;
      @include color-white;
      font-size: 17px;
      display: block;
      margin-bottom: 85px;
    }
  }

  form {

    .row {

     .input-text {
        background: #283542;
        border: 1px solid #77899D;
        color: #DDDDDD;
        padding: 5px 20px;
        height: 23px;
        font-size: 15px;
        line-height: 18px;
        outline: none;
        @include transiction;
        @include placeholder-color(#DDDDDD);

        &:focus { border-color: #FFF; }
      }

    }

    .button-bar {
      margin-top: 70px;
      .button { margin: 0 auto; }
    }
  }

  .list-users {
    @include clearfix;
    margin-top: 75px;

    li {
      float: left;
      margin: 0 3px 35px 3px;

      > a {
        display: block;
        @include transiction;
        
        &:hover {
          span, strong { text-decoration: underline; }
        }
      }

      img {
        display: block;
        margin-bottom: 15px;
      }

      span {
        @include color-white;
        font-size: 17px;
        display: block;
        text-align: center;
      }
      strong {
        @include color-white;
        font-size: 18px;
        display: block;
        text-align: center;
        font-weight: 500;
      }

      .button { margin: 20px auto 0; }

    }
  }

  .empty {
    margin: 50px 0 70px;
    float: left;
    width: 100%;

    p {
      display: block;
      @include color-white;
      text-align: center;
      font-size: 17px;
    }
  }

  .content-bar {
    margin-bottom: 100px;
    @include clearfix;
  }

  .edit-box {
    .title-bar {
      p { margin-bottom: 40px; }
    }
    .page-content {
      max-width: 850px;
      margin: 0 auto;

      .subtitle {
        font-size: 60px;
        float: none;
        clear: both;
        margin-bottom: 60px;
        line-height: 57px;
      }
    }
  }

  .filter {
    margin: 0 0 85px;

    .edit-menu {
      @include clearfix;
      width: 560px;
      margin: 0 auto;

      li {
        float: left;

        a {
          display: block;
          padding: 0 20px;
          height: 30px;
          line-height: 30px;
          border-top: 1px solid #FFF;
          border-bottom: 1px solid #FFF;
          border-right: 1px solid #FFF;
          font-size: 16px;
          text-transform: uppercase;
          @include color-white;
          @include transiction;

          &.first { border-left: 1px solid #FFF; }

          &:hover,
          &.active {
            background: #FFF;
            @include color-blue;
          }
        }
      }
    }
  }

}

.send-upload {
  .instructions {
    position: relative;
    padding-left: 55px;
    margin-bottom: 35px;

    span {
      height: 37px;
      width: 37px;
      border: 1px solid #FFF;
      @include rounder(50px);
      text-align: center;
      line-height: 37px;
      font-size: 20px;
      font-weight: 500;
      position: absolute;
      left: 0;
      top: 0;
      @include color-white;
    }

    h4 {
      line-height: 37px;
      @include color-white;
    }
    p {
      @include color-white;
      font-size: 14px;
      display: block;
    }

  }
  .obs {
    @include color-white;
    font-size: 16px;
    display: block;
    padding-left: 60px;
  }
}

.list-upload {
  li {
    margin-bottom: 10px;

    span {
      float: left;
      line-height: 35px;
      height: 35px;
      margin-right: 15px;
      @include color-white;
    }
    input[type="file"] {
      height: 35px;
      width: 240px;
      @include color-white;
    }
    input[type="text"] {
      background: #283542;
      border: 1px solid #77899D;
      color: #DDDDDD;
      padding: 5px 20px;
      height: 23px;
      font-size: 15px;
      line-height: 18px;
      outline: none;
      @include transiction;
      @include placeholder-color(#DDDDDD);

      &:focus { border-color: #FFF; }
    }
  }
}

.list-uploaded {
  @include clearfix;

  li {
    float: left;
    width: 150px;
    height: 120px;
    display: block;
    position: relative;
    background: #B4BED6;
    margin: 0 15px 15px 0;

    .delete {
      position: absolute;
      top: 7px;
      right: 7px;
      z-index: 3;
      display: block;
      height: 10px;
      width: 10px;
    }

    img {
      display: block;
      z-index: 2;
      position: relative;
    }

    span {
      line-height: 120px;
      height: 120px;
      display: block;
      text-align: center;
      font-size: 37px;
      font-weight: 400;
      @include color-white;
    }
  }
}

.instructions {
  @include color-white;

  strong {
    text-transform: uppercase;
    font-weight: 400;
    @include color-white;
  }
  big {
    @include color-white;
    font-weight: 400;
  }
}

.curriculo-admin {
  .last {
    margin: 42px 0;

    label {
      float: left;
      height: 35px;
      line-height: 35px;
      margin: 0;
    }
    input {
      width: 300px;
      margin-left: 15px;
    }
  }
}

.error-page { padding: 0; }

&.users {

  .title-bar p { margin-bottom: 40px; }

  .search-bar {
    width: 580px;
    margin: 0 auto;
    @include clearfix;

    .row {
      float: left;
      margin-right: 10px;
    }
    .button-bar {
      float: left;
      margin: 0;
    }
  }

}

&.login,
&.edit-password,
&.recover-password {

  .content {
    padding: 80px 0;

    form {
      width: 500px;
      margin: 0 auto;

      .row {
        margin-bottom: 14px;
        position: relative;

        label {
          position: absolute;
          left: 17px;
          top: 10px;
          height: 43px;
          padding-right: 20px;
          border-right: 1px solid #44596f;

          i { margin: 9px 0; }
        }
        input {
          width: 397px;
          height: 50px;
          padding: 5px 20px 5px 81px;
          @include placeholder-color(#DDDDDD);
        }

        &.password { margin-bottom: 0; }
      }

      .recover-password {
        display: inline-block;
        margin-top: 25px;
        font-size: 15px;
        color: #DDDDDD;
      }

    }
    
  }

}