/* components */
@import "components/mixins.scss";
@import "components/base.scss";
@import "components/icons.scss";
@import "components/popup.scss";
@import "components/forms.scss";
@import "components/buttons.scss";
@import "components/check-button.scss";
@import "components/header.scss";
@import "components/menu.scss";
@import "components/footer.scss";

/* Site sections */
body.site {
  @import "site-sections/specification.scss";
  @import "site-sections/home.scss";
  @import "site-sections/atores.scss";
  @import "components/ajax-page.scss";
  @import "components/blue-box.scss";
}

/* Admin sections */
body.admin {
  @import "admin-sections/specification.scss";
}

/* Itens compartilhados */
.page-content {

  .top-bar {
    margin-bottom: 50px;
    @include clearfix;

    .internal-navigation {
      float: right;
      margin-top: 120px;

      li {
        float: left;
        margin-right: 25px;

        a {
          font-size: 16px;
          text-transform: uppercase;
          padding-bottom: 4px;
          @include transiction;
          border-bottom: 1px solid transparent;

          &.active { border-color: #FFF; }
        }
      }
    }
  }

  .content-bar {

    .slider-photos {
      width: 632px;

      .bx-viewport {
        margin-bottom: 14px;
        li { height: 398px; }
      }

      .slider-photos-controls {
        @include clearfix;

        a {
          display: block;
          float: left;
          height: 114px;
          margin: 0 14px 14px 0;
          @include opacity-80;

          &.active { @include no-opacity; }
        }
      }
    }

    .info {
      p {
        display: block;
        margin-bottom: 40px;
      }
      .list-infos {
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid #FFF;

        li {
          margin-bottom: 21px;

          strong {
            font-weight: 500;
            font-size: 18px;
            margin-right: 17px;
          }

          &:last-child { margin-bottom: 0; }
        }
      }
      .list-social {
        @include clearfix;

        li {
          float: left;
          margin-right: 10px;

          a {
            i {
              @include opacity-90;
              @include transiction;
            }
            &:hover i { @include no-opacity; }
          }
        }
      }
    }

    .list-videos {
      @include clearfix;

      li {
        float: left;
        width: 270px;
        margin: 0 2px 4px 2px;
        display: block;

        a {
          display: block;
          position: relative;
          background: #FFF;

          .icon {
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -40px 0 0 -40px;
            z-index: 10;
          }

          img {
            width: 100%;
            height: auto;
            display: block;
            @include opacity-80;
            @include transiction;
          }

          &:hover img { @include no-opacity; }
        }
      }
    }

    .curriculo-content {
      height: 510px;
      overflow-y: scroll;

      p { font-size: 16px; }
    }

  }
}

/* Responsive */
@import "components/responsive.scss";